{#

Description text for the JSON Field Processor Config.

#}

{% trans %}

<p>The JSON Field Processor module defines a json_field_processor_config entity type. This is a list
  of the json_field_processor_config entities currently in your Drupal site.</p><p>This is
  why we call them Config Entities. </p><p>You can view a list of
  json_field_processor_config here. You can also use the 'Operations' column to edit and delete
  json_field_processor_config.</p>

<p>This module allows you to specify the JSON path you would like to index into Solr for efficient searching and indexing.</p>

{% endtrans %}
